html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-image: linear-gradient(to right top, #c300ff, #b300e9, #ae00ff, #b700ff, #f502fd);
}

.header
{
	color: rgb(255, 0, 0);font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
.header img
{
	width: 199px;margin-left: 105px;
}

.login_div
{
	background: rgb(0, 255, 213);float: none;border-radius: 15px;
}

.logo
{
	width: 150px;margin-top: 30px;border-radius: 55px;
}

#login_button
{
	width: 80%;border-radius: 15px;
}

.room_name
{
	cursor: pointer;
	font-size: 20px;
}


#logout
{
	font-size: 20px; float: right;
}


#output
{
	padding: 10px; width:80%;background: rgb(0, 255, 42);border-radius: 15px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: rgb(16, 70, 5);font-size: 20px;
}


.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(155, 101, 0, 0.8);
}
.input_div_message_page label
{
	color: rgb(246, 205, 250);
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
.color_white
{
	color: rgb(238, 255, 0)
}

.user_tick
{
	width:20px;
}
.message_h4
{
	padding-left:5px;color:rgb(53, 130, 218);
}